
.cart-design
{
  margin-top: 58px;
  background-color: #FFE0B3;
  padding: 5px 15px;
  position: sticky;
  top: 10px;
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 25px;
}