.product-design
{
  border: 1px solid #d3b17e;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.product-design div
{
  margin: 0 10px;
  margin-bottom: 30px;
}


.product-design img
{
 margin-top: 10px ;
 margin-left: 10px ;
 margin-right: 10px ;
 margin-bottom: 0;
 width: 95%;
 border-radius: 10px;
}
.btn-design
{
  width: 100%;
  background-color: #FFE0B3;
  border-radius: 0 0 10px 10px;
  border: none;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn-design:hover
{
  background-color: orange;
}

.btn-design:active
{
  background-color: red;
  
}
